.availButton {
    margin-left: auto;
    margin-top: 10px;
}
.card {
    padding-left: 15px;
}
.heading {
    padding-left: 20px;
}
.text-color {
    color: black;
}
.history{
    float: right;
}