<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Order Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- customer/order info -->
  <p class="bookingID">Booking ID : {{ orderId }}</p>

  <ion-card *ngFor="let item of orderById">
    <ion-card-content class="ion-no-padding">
      <ion-grid class="spacing">

      <ion-row size="3" class="ion-align-items-center">

        <ion-col size="2.5" class="ion-align-items-center">
        <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">  
        </ion-col>

        <ion-col size="3.5" class="ion-align-items-center">
        <h1 class = "mainName">{{item.custName}}</h1>
        <p class = "otherInfo">{{item.mallName}}</p>
        <p class = "otherInfo">Total Price: {{item.totalPrice | currency}}</p>
        </ion-col>

        <ion-col class="ion-align-items-center" size="5.5"> 
        <ion-button size="small" color="warning" expand="block" class="statusButton" (click)="updateSTATUS()">
        <p class="text-color">{{item.status}}</p>
        </ion-button>
        </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

    <!-- order/product info -->
  <ion-card>
    <ion-card-content class="ion-no-padding">
    <ion-item-sliding *ngFor="let item of orderItem" (ionSwipe)="delete(item)">
    
      <ion-item>
        <ion-grid class="spacing">
        <ion-col size="3" class="ion-align-items-center">

        <ion-img class="avatar" [src]="item.ItemImage"></ion-img>

        </ion-col>

    
        <ion-label>
          <div class = 'itemDetails'>
      <ion-col>
            <h1 class="mainName">{{item.StoreName}}</h1>
    
      <p class="otherInfo ion-float-left" text-wrap>{{item.ItemName}}</p>
    </ion-col>
    <ion-col>
      <ion-row>
      <p class="otherInfo ion-float-right">{{item.ItemPrice | currency}}  x{{item.Quantity}}</p>
    </ion-row><ion-row>
      <p class="otherInfo ion-float-right">{{item.ItemPrice * item.Quantity | currency}}</p>
    </ion-row>
    </ion-col> 
    </div>
      </ion-label>
    </ion-grid>
    </ion-item>
    <ion-item-options>
    <ion-button expand="block" class="notavailButton" color="danger" expandable (click)="updateItem(item)">
      Not Available
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    </ion-item-options>

    </ion-item-sliding>
    </ion-card-content>
    </ion-card>

     <!-- totals -->
    <ion-card>

    </ion-card>

    <!-- chat buttons -->
<ion-row>
  <ion-col>
  </ion-col>

  <ion-col class="ion-align-items-center" size="8">
    <div>
      <ion-button class="ion-text-wrap" expand="block" fill="outline" shape="round" 
      (click)="toShopperChat()">
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h3>Talk to your Customer</h3>
          </ion-text>
        </ion-label>
      </ion-button>
    </div>
  </ion-col>

  <ion-col>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
  </ion-col>

  <ion-col class="ion-align-items-center" size="8"> 
    <div>
    <ion-button class="ion-text-wrap" expand="block" fill="outline" shape="round"
      (click)="toAdminChat()">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>OTW Customer Support</h3>
        </ion-text>
      </ion-label>
      </ion-button>
    </div>
  </ion-col>

  <ion-col>
  </ion-col>
</ion-row>



</ion-content>
