.availButton {
    display: inline-block;
    vertical-align: middle; 
    block-size: 35px;
    margin-top: 20px;
    margin-left: auto;
}
.text-color {
    color: black;
}
.heading {
   margin-left: 15px;
}