<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink] = "['/tabs/tabs/sh-new-orders']">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of products">
      <ion-thumbnail slot="start">

        <ion-img [src]=item.image></ion-img>

      </ion-thumbnail>
      <ion-label>

        <h2> {{item.comment}} </h2>
        <p> {{item.rating}} </p>
        <p> {{item.image}} </p>

     </ion-label>

    </ion-item>

  </ion-list>

 
</ion-content>
