<ion-header>
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-center">

    <h1>Confirm Order Completion</h1>
    <p>Is the order ready for collection?</p>
    <p>Please confirm</p>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="confirmDelivery()">
        Yes
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" (click)="closeModal()">
        No
      </ion-button>
    </ion-col>
  </ion-row>

  </ion-card>

</ion-content>
