.card {
    padding-left: 25px;
    
}.row2 {
    margin-top: 16px;
    
}
.heading {
    padding-left: 20px;
}
.availButton {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 50%;
    margin-top: 25px;
    block-size: 35px;
}
.text-color {
    color: black;
}