.availButton {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 50%;
    block-size: 35px;
    margin-top: 10px;
}
.card {
    padding-left: 15px;
}
.heading {
    padding-left: 20px;
}
.text-color {
    color: black;
}